<!DOCTYPE html>
<html>

<head>
  <title>notsominapi</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <div>
    <a href="/">Home</a>
  </div>
  <h1>Endpoints</h1>
  <table class="endpoints-table">
    <thead>
      <tr>
        <th>Verb</th>
        <th>Endpoint</th>
        <th>DateCreated</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>[GET]</td>
        <td><a href="/runTests">/runTests</a></td>
        <td>2023-10-01</td>
      </tr>
      <tr>
        <td>[POST]</td>
        <td>/submitAssessment</td>
        <td>2023-10-02</td>
      </tr>
      <tr>
        <td>[GET]</td>
        <td><a href="/getAssessments">/getAssessments</a></td>
        <td>2023-10-03</td>
      </tr>
      <tr>
        <td>[GET]</td>
        <td><a href="/getRandomQuestions">/getRandomQuestions</a></td>
        <td>2023-10-04</td>
      </tr>
      <tr>
        <td>[GET]</td>
        <td><a href="/GetSearchQueryTestSet">/GetSearchQueryTestSet</a></td>
        <td>2023-10-05</td>
      </tr>
      <tr>
        <td>[GET]</td>
        <td><a href="/test1">/test1</a></td>
        <td>2023-10-06</td>
      </tr>
      <tr>
        <td>[GET]</td>
        <td><a href="/baseline">/baseline</a></td>
        <td>2023-10-07</td>
      </tr>
      <tr>
        <td>[POST]</td>
        <td>/baseline</td>
        <td>2023-10-08</td>
      </tr>
      <tr>
        <td>[GET]</td>
        <td><a href="/all">/all</a></td>
        <td>2023-10-09</td>
      </tr>
      <tr>
        <td>[POST]</td>
        <td>/all</td>
        <td>2023-10-10</td>
      </tr>
      <tr>
        <td>[POST]</td>
        <td>/completionSuggestor</td>
        <td>2023-10-11</td>
      </tr>
      <tr>
        <td>[POST]</td>
        <td>/:indexName/_search</td>
        <td>2023-10-12</td>
      </tr>
      <tr>
        <td>[USE]</td>
        <td>/proxysearch</td>
        <td>2023-10-13</td>
      </tr>
      <tr>
        <td>[GET]</td>
        <td><a href="/uploadfaqstosqldb">/uploadfaqstosqldb</a></td>
        <td>2023-10-14</td>
      </tr>
    </tbody>
  </table>
</body>

</html>